<!-- fragment 1 start -->
<table class="w-full">
  <tr>
    <td class="pb-[6px] pt-5 px-5 sm:px-0">
      <x-image class="w-[600px]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="pt-6 text-[#005555] text-2xl text-center font-bold px-12 leading-7">
      Excepteur sint occaecat cupidatat 
    </td>
  </tr>
  <tr>
    <td class="pt-5 text-base text-center px-12 leading-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
    </td>
  </tr>
  <tr>
    <td class="align-center-table py-base text-white pt-6 pb-10 px-5">
      <x-button
        width="280"
        height="40"
        leading="24"
        padding="8px 20px"
        rounded="10"
        bgColor="#008080"
        CTA
        class="font-bold xs:w-full cursor-pointer"
        >Ut enim ad minim veniam
      </x-button>
    </td>
  </tr>
</table>
<!-- fragment 1 end -->
